.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.login-card {
  width: 30rem;
  height: 24rem;
  border: 1px solid #ccc;
}

.login-top-card {
  padding: 1rem;
}

.login-bottom-card {
  margin-top: 3.5rem;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  padding: 1rem;
}

.insta-mob-bg {
  background-image: url("../../assets//insta-mob-bg.png");
  width: 454px;
  height: 610px;
}

.carousel {
  height: auto;
  position: absolute;
  top: 50px;
  left: 22px;
}

@media only screen and (max-width: 512px) {
  .login-container {
    flex-direction: column;
    margin-top: 0;
  }

  .login-card {
    width: 100vw;
    padding: 0;
    height: auto;
  }

  .login-top-card {
    width: 100vw;
  }
}
